body{
    background-color: antiquewhite;
}
p{
    font-size: xxx-large;
}
.main{
    display: flex;
    justify-content: center;
    flex-flow:column;
    align-items: center;
}
.admission-form{
    border: 2px solid black;
    padding: 15px;
    display: block;
    background-color: rgb(231, 196, 150);
}
label, input{
    font-size: large;
}
.choice{
    padding-top: 10px;
    padding-bottom: 15px;
}
button{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: antiquewhite;
    color: black;
    border-radius: 5px;
    margin-left: 20px;
}
select{
    padding: 8px;
}