body{
    background-color: antiquewhite;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: rgb(231, 196, 150);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(231, 196, 150);;
    color:white
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: rgb(255, 145, 0);
  }
.main{
    display: flex;
    justify-content: center;
    flex-flow:column;
    align-items: center;
}
.admission-form{
    border: 2px solid black;
    padding: 15px;
    display: block;
    background-color: rgb(231, 196, 150);
}
label, input{
    font-size: large;
}
.choice{
    padding-top: 10px;
    padding-bottom: 15px;
}
button{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: antiquewhite;
    color: black;
    border-radius: 5px;
    margin-left: 20px;
}
select{
    padding: 8px;
}